<ion-header>
  <ion-toolbar>
    <ion-title>
      Weryfikator
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content ion-padding>

  <section class="instruction">
    <ul>
      <li>1. Zeskanuj QR.</li>
      <li>2. Zeskanuj odpowiedzi (OCR).</li>
      <li>3. Odczytaj wyniki.</li>
      <li>4. Wyslij wyniki do bazy (jesli jestes online)
      </li>
      <li>5. Jesli offline - wyniki czekaja w Kolejce</li>
    </ul>
  </section>





  <section class="debugging">
    <h1>Tymczasowe informacje na potrzeby debugowania</h1>

    <div *ngIf="scannedData">
      <h1>QR CODE INFO</h1>
      {{ scannedData["text"] }}
    </div>

    <div class="img" *ngIf="capturedSnapURL">
      <h1>IMG</h1>
      <img [src]="capturedSnapURL" />
    </div>

    <div class="ocr" *ngIf="scanResult">
      {{scanResult}}
    </div>
  </section>






</ion-content>

<footer id="nav-footer">
  <section class="menu">

    <button class="btn" (click)="scanCode()">
      <ion-icon name="barcode" size="large"></ion-icon>
      <p>QR</p>
    </button>
    <button class="btn" (click)="scanCode()">
      <ion-icon name="cloud-upload" size="large"></ion-icon>
      <p>Kolejka</p>
    </button>
    <button class="btn" (click)="takeSnap()">
      <ion-icon name="camera" size="large"></ion-icon>
      <p>OCR</p>
    </button>

  </section>
</footer>