@font-face {
  font-family: 'Gochi Hand';
  src: url("../../fonts/GochiHand-Regular.ttf")
}

@import '../../theme/variables.scss';



* {
  font-family: 'Gochi Hand', cursive;
}

ion-header,
ion-toolbar,
ion-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: $primary-color;

}

ion-content {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;

  .instruction {

    ul {
      margin-top: 2rem;
      list-style: none;

      li {
        margin-top: 0.5rem;
        line-height: 1.2rem;
        font-size: 1.25rem;
      }
    }
  }

  .debugging {

    display: flex;
    flex-direction: column;

    .img {

      margin: 1rem;
    }
  }


}








h1 {
  text-align: center;
}