@font-face {
  font-family: 'Gochi Hand';
  src: url("../../fonts/GochiHand-Regular.ttf")
}

@import '../../theme/variables.scss';




ion-header,
ion-toolbar,
ion-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: $primary-color;
  font-family: 'Gochi Hand', cursive;

}

ion-content {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;



  .debugging {

    display: flex;
    flex-direction: column;

    .img {

      margin: 1rem;
    }
  }


}








h1 {
  text-align: center;
}