<ion-header>
  <ion-toolbar>
    <ion-title>
      Weryfikator
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content ion-padding>
  <app-settings></app-settings>
  <ng-container *ngIf="!ss.studentShown">
    <section class="instruction" *ngIf="!ss.queueShown">
      <app-instruction></app-instruction>
    </section>
    <section class="studentsList" *ngIf="ss.queueShown">
      <app-queue></app-queue>
    </section>
  </ng-container>
  <section class="studentsGrade" *ngIf="ss.studentShown">
    <app-student></app-student>
  </section>
</ion-content>
<app-navbar></app-navbar>