<ion-header>
  <ion-toolbar>
    <ion-title>
      Weryfikator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>

  <section class="instruction" *ngIf="!ss.queueShown">
    <app-instruction></app-instruction>
  </section>

  <section class="studentsList" *ngIf="ss.queueShown">
    <app-queue></app-queue>
  </section>

  <section class="debugging">
    <h1>Tymczasowe informacje na potrzeby debugowania</h1>

    <div *ngIf="cs.scannedData">
      <h1>QR CODE INFO</h1>
      {{ cs.scannedData["text"] }}
    </div>

    <div class="img" *ngIf="cs.capturedSnapURL">
      <h1>IMG</h1>
      <img [src]="cs.capturedSnapURL" />
    </div>

    <div class="block">
      <h1>Block</h1>
      <ng-container *ngFor="let item of cs.scanResultBlock">
        <p>{{item}}</p>
      </ng-container>
    </div>

    <div class="block">
      <h1>Block Single String</h1>

      <p>{{cs.scanResultBlockSingleString}}</p>

    </div>

    <div class="lines">
      <h1>Lines</h1>
      <ng-container *ngFor="let item of cs.scanResultLines">
        <p>{{item}}</p>
      </ng-container>
    </div>

    <div class="words">
      <h1>Words</h1>
      <p>{{cs.scanResultWords}}</p>
    </div>
  </section>






</ion-content>

<app-navbar></app-navbar>