<ion-content padding>


  <!-- <button  (click)="startCamera()">
    <ion-icon name="camera" size="large"></ion-icon>
  </button> -->


  <!-- <div *ngIf="!picture"> -->
  <div id="container" class="container">
    <div id="aim-div" class="aim">
      <button id="takePictureBtn" (click)="takePicture()">
        <ion-icon name="camera" id="cameraIcon"></ion-icon>
      </button>
    </div>
    <div *ngIf="imgtoShowDebug">
      <img src="{{imgtoShowDebug}}" alt="">
    </div>
  </div>
  <!-- </div> -->

</ion-content>