<ul class="instruction">
  <li>1. Zeskanuj kod QR.</li>
  <li>2. Zeskanuj odpowiedzi (OCR).</li>
  <li>3. Odczytaj wyniki i wprowadź odpowiedzi nie rozpoznane przez OCR.</li>
  <li>4. Wyślij wyniki do bazy (jeśli jestes online).
  </li>
  <li>5. Jesli offline - wyniki będą czekać w Kolejce</li>
 <p>
  W ustawieniach <ion-icon name="settings"></ion-icon> jest możliwość manipulacji jasnością i kontrastem zdjęcia z którego będzie przeprowadzany odczyt. Na każdym nowym urządzeniu
  zalecane jest dopasowanie optymalnych wartości metodą prób i błędów.
  Dodatkowo mamy możliwość włączenia/wyłączenia lampy flash. </p>
</ul>